### APP
PORT=
API_KEY=
CORS_ORIGIN=

### Database
DATABASE_URL=

### JWT
# Tiempo de expiración junto a su unidad.
# Únidades válidas: [ s | m | h | d ]
# Ejemplo: 1d (1 día de expiración)
JWT_ACCESS_EXP_TIME=
JWT_ACCESS_REFRESH_TIME=
JWT_REFRESH_EXP_TIME=
JWT_REMAINING_REFRESH_TIME=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

### Logs
LOG_DIR=